<div>
    <h2>What else do you need to do?</h2>
    <div class="wholeForm" >
  
      <div class="formInput" >
        <label for="">Title:</label>
        <input type="text" name="title" id="" [(ngModel)]="newTask.title">
      </div>
      <div class="formInput">
          <label for="">Description:</label>
          <input type="text" name="description" id="" [(ngModel)]="newTask.description">
        </div>
      <div class="formInput">
          <label for="">Done yet? enter true or false</label>
          <input type="text" name="doneyet" id="" [(ngModel)]="newTask.doneyet">
        </div>     
        <button (click)="addNewTask()">Submit new task</button>
    </div>
  </div>

<h1>This is your todo list</h1>
<div *ngFor="let task of theList">

<h3>{{task.title}}</h3>
<h4>{{task.description}}</h4>
<div *ngIf="task.doneyet;else notdone">
  DONE
</div>
<ng-template #notdone>Not Done</ng-template>
<hr>
<!-- <a [routerLink]="['entries', entry._id]">See Details</a> -->
</div>