<p>
this works
</p>
{{theChosenOne.title}}
{{theChosenOne.description}}
{{theChosenOne.doneyet}}


<div>
    <h2>What else do you need to do?</h2>
    <div class="wholeForm" >
  
      <div class="formInput" >
        <label for="">Title:</label>
        <input type="text" name="title" id="" value="{{theChosenOne.title}}" [(ngModel)]="edited.title">
      </div>
      <div class="formInput">
          <label for="">Description:</label>
          <input type="text" name="description" id="" value="{{theChosenOne.description}}" [(ngModel)]="edited.description">
        </div>
      <div class="formInput">
          <label for="">Done yet? enter true or false</label>
          <input type="text" name="doneyet" id="" value="{{theChosenOne.doneyet}}" [(ngModel)]="edited.doneyet">
        </div>     
        <button (click)="editTask()">EditTask</button>
    </div>
  </div>

  <a [routerLink]="['/']">Back to the Task List</a>

  <button (click)="deleteATask(theChosenOne._id)">delete</button>
